{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block body %}

<h1 id="about_us_heading"> About Us...</h1>
<p id="about_us_para">
    At KRISHNA ELECTRONICS, a wide range of electronic appliances from all the top brands are available for you to
    choose, the one that suits you the best. A large variety starting from LED TVs, Refrigerators, Washing machines, ACs
    for your comfort to invertor& batteries, inductions, stoves, electric geysers, deep freezers, juicer mixer grinders
    to make your homes better. We provide numerous top brands such as LG, Samsung, Godrej, Whirlpool, Haier, Hindware,
    Symphony , Hitachi, OnePlus IFB, Havells, Crompton, Usha, Luminous, Microtech, Lloyd, Wibor, Aisen, Sunflame and
    many more.
</p>


<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/1.jpg">
    </div>
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/2.jpg">
    </div>
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/3.jpg">
    </div>
    <!-- <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/4.jpg">
        </div> -->

    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/5.jpg">
    </div>
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/6.jpg">
    </div>
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/7.jpg">
    </div>
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/8.jpg">
    </div>
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/9.jpg">
    </div>
    <!-- <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/10.jpg">
        </div> -->

    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/11.jpg">
    </div>
    <!-- <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/12.jpg">
        </div> -->
    <div class="mySlides fade">
        <img class="img_slides" src="../static/shop/images/shop_pics/13.jpg">
    </div>
    <button id="left_slideshow_button" onclick="plusSlides(-1)">&#10094; </button><br>
    <button id="right_slideshow_button" onclick="plusSlides(1)">&#10095; </button>

</div>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

</div>







<img src="../static/shop/images/company logos/about_us.jpg" alt="" style="width: 100%; height: auto;">




{% endblock %}